body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.machine {
    background: grey;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    color: white;
}
canvas {
    background: white;
    padding: 10px;
    margin-top: 20px;
}
